<div>
  <h1>Your lists</h1>
    <div class="cards">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(to right, rgba(132,87,223,1), rgba(218,123,76,1)), url ('<%= cl_image_path list.card_photo.key, height: 300, crop: :fill %>')">
          <%= link_to list.name, list_path(list), class:"text-white"%>
        </div>
      <% end %>
  </div>
  <%= link_to 'Create new list' , new_list_path, class:"btn btn-outline-dark mt-3" %>
  <%= link_to 'Delete a bookmark comment' , bookmarks_path, class:"btn btn-outline-dark mt-3" %>
  <%= link_to 'Back to home' , movies_path, class:"btn btn-outline-dark mt-3" %>
</div>
